<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
            src="/javascripts/libs/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/segment-tree.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
        document.firstElementChild.style.zoom = "reset";
    </script>
    <script src="/javascripts/ui-control.js"></script>
    <% const FILE_COUNT = 800; %>
    <% var extensions = ['css-icon', 'doc-icon', 'eps-icon', 'fla-icon', 'gif-icon',
      'ind-icon', 'jpg-icon', 'mov-icon', 'mp3-icon', 'pdf-icon',
      'php-icon', 'ppt-icon', 'xls-icon', 'zip-icon']%>
    <script>

        <%- 'const FILE_COUNT = ' + FILE_COUNT %>

        $(window).load(function () {
            leftBarWidth = $('#left-bar').prop('offsetWidth');
        });

      $(document).ready(function () {
          var orderButtonIcon = $('#order-btn-icon');
          var position;
          var started = false;
          var timer;
          var leftXIndex = -1;
          var rightXIndex = -1;
          var leftYIndex = -1;
          var rightYIndex = -1;
          var topX = -1;
          var bottomX = -1;
          var topY = -1;
          var bottomY = -1;

          var gevent = null;
          $('#order-btn').click(function (event) {

              var sortAnimate = function(id1, id2){
                  var replacedWith = $(id2);
                  var indexItem = $(id1);
                  var cloneDiv = replacedWith.clone();
                  cloneDiv.css('position', 'absolute');
                  cloneDiv.css('left', replacedWith.prop('offsetLeft')-20);
                  cloneDiv.css('top', replacedWith.prop('offsetTop')-20);
                  cloneDiv.appendTo('#storage-content');
                  replacedWith.css('visibility', 'hidden');
                  var timer = setTimeout(function () {
                      cloneDiv.animate({
                          'left': (indexItem.prop('offsetLeft')-HORIZONTAL_MARGIN) + 'px',
                          'top': (indexItem.prop('offsetTop')-VERTICAL_MARGIN) + 'px'
                      }, 1200, function(){
                          console.log("Animation finished");
                          replacedWith.css('visibility', 'visible');
                          cloneDiv.remove();
                          clearTimeout(timer);
                      });
                  }, Math.random() * 200);
              };

              var onetone = function (id1, id2) {
                  sortAnimate(id1, id2);
                  sortAnimate(id2, id1);
              };

              if ( ascending )
              {
                  orderButtonIcon.removeClass('arrow-up');
                  orderButtonIcon.addClass('arrow-down');

                  //var storageContent = $('#storage-content');

                  //TODO remove calculations below
                  var animationTopY = storageContent.prop('scrollTop') - STORAGE_AREA_TOP_MARGIN;
                  var animationTopX = storageContent.prop('scrollLeft') - STORAGE_AREA_LEFT_MARGIN;
                  var animationBottomY = animationTopY + storageContent.prop('offsetHeight') - 1;
                  var animationBottomX = animationTopX + storageContent.prop('offsetWidth') - 1;

                  //TODO use getItemsVisibleOnScreen() function
                  /*var animatedFiles = getItems(0, 0, rows-1, columns-1,
                      getTopYIndex(animationTopY), getTopXIndex(animationTopX),
                      getBottomYIndex(animationBottomY), getBottomXIndex(animationBottomX), 0);*/

                  fileNames.forEach(function(item, index){
                      var selector = '#file' + (index+1);
                      $(selector+ ' p:first').html(item.filename);

                      /*if ( !animatedFiles.has(item.id) )
                          return;*/
                      //onetone(selector, item.id);
                  });
              }
              else
              {
                  orderButtonIcon.removeClass('arrow-down');
                  orderButtonIcon.addClass('arrow-up');

                  fileNamesOriginal.forEach(function(item, index){
                      $('#file' + (index+1) + ' p:first').html(item.filename);
                  });
              }

              ascending = !ascending;
          });
      })
    </script>
  </head>
  <body>
    <div id="header" class="header noselect">
      <ul class="tools">
        <li class="btn-new-folder tool-item"></li>
        <li class="btn-copy tool-item"></li>
        <li class="btn-cut tool-item"></li>
      </ul>
    </div>


    <div class="content noselect">
      <ul id="file-context-menu" class="context-menu menu">
        <li class="btn-copy">Copy</li>
        <li class="btn-cut">Cut</li>
        <li class="disabled">Paste</li>
      </ul>
      <ul id="empty-context-menu" class="context-menu menu">
        <li>New Folder</li>
      </ul>
      <div id="left-bar" class="left-bar noselect">
        <div id="jstree_demo_div" class="storage-hierarchy noselect">
          <ul>
            <li>root</li>
          </ul>
        </div>
        <div class="drop-zone noselect"></div>
      </div>
      <div class="right-bar noselect">
        <div id="upper-bound" class="bound upper-bound noselect">
          <div class="button-group sort-by-button-group">
            <div>
              <button id="sort-by-btn">Name</button>
              <button id="order-btn"><span id="order-btn-icon" class="arrow arrow-up"></span></button>
              <ul id="sort-by-menu" class="menu">
                <li>Date</li>
                <li>Size</li>
              </ul>
            </div>
          </div>
        </div>
        <div id="storage-content" class="noselect">
          <div id="mouse-selection" class="mouse-selection"></div>
            <% for ( let i = 0; i < 14; i++ ) { %>
              <div id="<%= 'file'+(i+1) %>" class="file-holder noselect">
                <div class="file folder noselect <%= ext%>" data-date="" data-size="" data-size-unit="MB" data-ext=""></div>
                <p class="filename"><%= "name" + (i+1)%><span style="display: none;"></span></p>
              </div>
            <% } %>
            <% for ( let i = 14; i < FILE_COUNT; i++ ) { %>
              <div id="<%= 'file'+(i+1) %>" class="file-holder noselect">
                <% var ext = Random.pick(Random.engines.nativeMath, extensions);%>
                <div class="file noselect <%= ext%>" data-date="" data-size="" data-size-unit="MB" data-ext=".<%= ext %>"></div>
                <p class="filename"><%= "name" + (i+1) + '.' + ext%><span style="display: none;">.jpg</span></p>
              </div>
            <% } %>
        </div>
      </div>
    </div>


    <div id="footer" class="footer">
      <div class="footer-info">
        <p id="items-count"><%= FILE_COUNT %> items</p>
      </div>
      <div class="footer-info">
        <p><span id="selected-count">0</span> selected</p>
      </div>
      <div id="load-bar"></div>
    </div>

  </body>
</html>
