<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/javascripts/tests/test.js"></script>
    <link rel='stylesheet' href='/stylesheets/tests/segment_tree_style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.5.0/mocha.min.css" />
    <script
            src="/javascripts/libs/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/tests/libs/mocha.js"></script>
    <script src="/javascripts/tests/libs/chai.js"></script>
    <script>
        mocha.ui('bdd'); // 2
        mocha.reporter('html'); // 3
    </script>

    <script>
        var assert = chai.assert;
        var expect = chai.expect; // 4
    </script>

    <% const FILE_COUNT = 100; %>
    <%- '<script>' %>
        <%- 'const FILE_COUNT = ' + FILE_COUNT %>
    <%- '</script>' %>
    <script src="/javascripts/tests/segment_tree.js"></script>
    <script src="/javascripts/segment-tree.js"></script>
    <script src="/javascripts/ui-control.js"></script>
</head>
<body>
<div class="header noselect">
    <ul class="tools">
        <% for ( let i = 0; i < 10; i++ ) {%>
        <li class="tool-item"></li>
        <%} %>
    </ul>
</div>
<div class="content noselect">
    <div id="left-bar" class="left-bar noselect">
        <div id="mocha" class="storage-hierarchy noselect"></div>
        <div class="drop-zone noselect"></div>
    </div>
    <div class="right-bar noselect">
        <div id="upper-bound" class="bound upper-bound noselect">
            <div class="button-group sort-by-button-group">
                <div>
                    <button id="sort-by-btn">Name</button>
                    <button id="order-btn"><span id="order-btn-icon" class="arrow arrow-up"></span></button>
                    <ul id="sort-by-menu">
                        <li>Date</li>
                        <li>Size</li>
                    </ul>
                </div>

            </div>
        </div>

        <div id="storage-content" class="noselect">
            <div id="mouse-selection" class="mouse-selection"></div>
        </div>
    </div>
    <div id="lower-bound" class="bound lower-bound"></div>
</div>
</div>
<div class="footer"></div>
<script>
    mocha.run();
</script>
</body>
</html>
