<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.5.0/mocha.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.5.0/mocha.js"></script>
    <script>
        mocha.setup('bdd');
    </script>
    <script src="http://chaijs.com/chai.js"></script>
    <script>
        var assert = chai.assert;
    </script>
</head>
<body>
    <script>
        function countMatches(letter, word) {
            var matches = 0;
            for ( var i = 0; i < word.length; i++ )
                if ( word.charAt(i) === letter )
                    matches++;
            return matches;
        }
    </script>

    <script src="/javascripts/test.js"></script>
    <div id="mocha"></div>
    <script>
        mocha.run();
    </script>
</body>
</html>