* {
  padding: 0;
  margin: 0;
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
}



.content {
  height: calc(100% - 91px); /* 60 for header + 31 for footer */
  width: 100%;
  display: block;
  position: relative;
}

.left-bar {
  width: 18%;
  height: 100%;
  float: left;
}

.bound {
  position: absolute;
  width: calc(100% - 27px); /* 10px for padding and 17 for scrollbar */
  height: 50px;
  background: transparent;
  z-index: 3;
}

.upper-bound {
  top: 0;
  border-bottom: 1px solid #E9E9E9;
  padding: 0 5px;
}

.right-bar {
  width: 82%;
  height: 100%;
  float: right;
  background: cadetblue;
  position: relative;
}

#storage-content {
  padding: 50px 0;
  width: 100%;
  height: calc(100% - 100px); /* 50 + 50 paddings */
  background: rgb(255,255,255);
  overflow-y: scroll;
  position: relative;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mouse-selection {
  background: cadetblue;
  opacity: 0.4;
  border: 1px solid rebeccapurple;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  z-index: 10;
}

.select {
  -webkit-touch-callout: default; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.storage-hierarchy {
  height: 50%;
  width: 100%;
    overflow-y: scroll;
}

.drop-zone {
  height: 50%;
  width: 100%;
  background: navy;
}



/*--- HEADER ----*/
.header {
    height: 49px;
    width: calc(100% - 10px);
    padding: 5px;
    position: relative;
    z-index: 90;
    border-bottom: 1px solid #E9E9E9;
}

.tools {
    height: 100%;
    list-style: none;
    position: relative;
    display: block;
}

.tool-item {
    float: left;
    width: 50px;
    height: 100%;
    background: lightcoral;
    margin: 0 10px;
}

.tool-item:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px #424242;
}

.tool-item:active {
    box-shadow: none;
    border: 1px solid #424242;
}
/*--- HEADER END ----*/

/*---- FILE ----*/

.file-holder {
  width: 140px;
  height: 140px;
  float: left;
  margin: 20px;
  text-align: center;
}

.file {
  width: 72px;
  height: 102px;
  background: darkcyan;
  margin: 15px 34px 0 34px;
}

.folder {
    width: 120px;
    height: 90px;
    margin: 15px 10px 0 10px;
}

.file-holder:hover {
  background: rgba(50,153,187, 0.15);
  /*width: 138px;
  height: 138px;*/
}

.selected {
  background: rgba(50,153,187, 0.6);
}

.selected:hover {
  background: rgba(50,153,187, 0.6);
}

.selected:hover, .last-selected {
  border: 1px solid rgba(50,153,187, 1);
  margin: 19px;
}

.selected .file, .last-selected .file {
}

.cut .file {
  opacity: 0.4;
}

.cut.last-selected {
  border: 1px dashed rgba(50,153,187, 1);
}

    /*---- ICONS ----*/
/* Generated by http://css.spritegen.com CSS Sprite Generator */

.folder, .css-icon, .doc-icon, .eps-icon, .fla-icon,
.gif-icon, .ind-icon, .jpg-icon, .mov-icon, .mp3-icon,
.pdf-icon, .php-icon, .ppt-icon, .xls-icon, .zip-icon,
.btn-cut, .btn-new-folder, .btn-copy
{ display: inline-block; background: url('/images/icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.folder { background-position: -2px -0px; width: 120px; height: 90px; }
.css-icon { background-position: -2px -92px; width: 72px; height: 102px; }
.doc-icon { background-position: -2px -196px; width: 72px; height: 102px; }
.eps-icon { background-position: -2px -300px; width: 72px; height: 102px; }
.fla-icon { background-position: -2px -404px; width: 72px; height: 102px; }
.gif-icon { background-position: -2px -508px; width: 72px; height: 102px; }
.ind-icon { background-position: -2px -612px; width: 72px; height: 102px; }
.jpg-icon { background-position: -2px -716px; width: 72px; height: 102px; }
.mov-icon { background-position: -2px -820px; width: 72px; height: 102px; }
.mp3-icon { background-position: -2px -924px; width: 72px; height: 102px; }
.pdf-icon { background-position: -2px -1028px; width: 72px; height: 102px; }
.php-icon { background-position: -2px -1132px; width: 72px; height: 102px; }
.ppt-icon { background-position: -2px -1236px; width: 72px; height: 102px; }
.xls-icon { background-position: -2px -1340px; width: 72px; height: 102px; }
.zip-icon { background-position: -2px -1444px; width: 72px; height: 102px; }
.btn-cut { background-position: -2px -1548px; width: 50px; height: 46px; }
.btn-new-folder { background-position: -54px -1548px; width: 50px; height: 40px; }
.btn-copy { background-position: -76px -92px; width: 38px; height: 52px; }
    /*---- ICONS END ----*/


/*---- FILE END ----*/


/*---- MENU ----*/
.menu {
    position: absolute;
    min-width: 140px;
    list-style: none;
    -webkit-box-shadow: 1px 1px 2px #424242;
    -moz-box-shadow: 1px 1px 2px #424242;
    box-shadow: 1px 1px 2px #424242;
    padding: 10px 0;
    background: #E9E9E9;
    border-radius: 1px;
    z-index: 999;
    display: none;
}

.menu li {
    padding: 1px 20px;
}

.menu li:hover {
    background: #BCBCBC;
    cursor: pointer;
}

.menu li:active {
    background: #3299BB;
}

    /*---- CONTEXT MENU ----*/
#context-menu {
    text-align: center;
}
    /*---- CONTEXT MENU END ----*/

    /*---- SORT MENU ----*/
#sort-by-menu {
    top: 100%;
    left: 20px;
}
    /*---- SORT MENU END ----*/

/*---- MENU END ----*/

/*.file-holder:hover .file {
  margin: 14px 29px 0 29px;
}*/

.fixed-bound {
  animation: aama 1.0s forwards;
  -webkit-animation: aama 1.0s forwards; /* for less modern browsers */
}

.hidden-bound {
  -webkit-animation: back 0.5s forwards; /* for less modern browsers */
  animation: back 0.5s forwards;
}

@keyframes aamama {
  from { opacity: 0; }
  to {
    opacity: 1;
    width: calc(100% - 27px);
    height: 50px;
  }
}

@keyframes back {
  from { opacity: 1 }
  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.bound-tools {
  height: 40px;
  list-style: none;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -20px;
}

.bound-item {
  float: left;
  background: lightcoral;
  margin: 0 5px;
  padding: 5px 5px;
}

.bound-overlay {
  background: #E9E9E9;
}

/*---- SORT ----*/

.sort-item {
    text-align: center;
}

.arrow {
    width: 12px;
    height: 12px;
    position: relative;
    display: inline-block;
    margin: 10px 10px;
}

.arrow-up {
    -webkit-animation: arrow-up 1s forwards;
    -o-animation: arrow-up 1s forwards;
    animation: arrow-up 1s forwards;
}

.arrow-down {
    -webkit-animation: arrow-down 1s forwards;
    -o-animation: arrow-down 1s forwards;
    animation: arrow-down 1s forwards;
}

.arrow:before, .arrow:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
}

.arrow:before {
    border: none;
    background-color: #555;
    height: 50%;
    width: 30%;
    top: 50%;
    left: 35%;
}
.arrow:after {
    left: 0;
    top: -50%;
    border-width: 6px 6px;
    border-bottom-color: #555;
}

/*---- ARROW KEYFRAMES ---- */


/* ---- ARROW UP KEYFRAME ---- */
@-webkit-keyframes arrow-up {
    from {
        -webkit-transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes arrow-up {
    from {
        -o-transform: rotate(180deg);
    }
    to {
        -o-transform: rotate(0deg);
    }
}

@-moz-keyframes arrow-up {
    from {
        -moz-transform: rotate(180deg);
    }
    to {
        -moz-transform: rotate(0deg);
    }
}

@keyframes arrow-up {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* ---- ARROW UP KEYFRAME END ---- */


/* ---- ARROW DOWN KEYFRAME ---- */

@-webkit-keyframes arrow-down {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}

@-o-keyframes arrow-down {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(180deg);
    }
}

@-moz-keyframes arrow-down {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(180deg);
    }
}

@keyframes arrow-down {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

/* ---- ARROW DOWN KEYFRAME END ---- */

/*---- ARROW KEYFRAMES END ---- */


.button-group button {

    position: absolute;
    height: 40px;
    top: 50%;

    margin-top: -20px;
    background: transparent;
    border: none;
    color: #424242;

}

.button-group button:hover {
    cursor: pointer;
    background: #E9E9E9;
    box-shadow: 1px 1px 2px #424242;
}

.button-group button:active {
    background: #3299BB;
    box-shadow: 1px 2px 2px #BCBCBC;
}

#sort-by-btn {
    width: 100px;
    left: 20px;
}

#order-btn {
    width: 40px;
    left: 120px;
    border: none;
}

/*---- SORT END ----*/



/*---- FOOTER ----*/

#footer {
    color: #222;
    height: 30px;
    width: 100%;
    border-top: 1px solid #E9E9E9;
}

.footer-info {
    float: left;
    height: 20px;
    margin: 5px 20px;

}

  /*---- LOAD BAR ----*/

#load-bar {
  float: right;
  margin: 7px 40px;
  width: 20%;
  height: 14px;
  border: 1px solid #2980b9;
  border-radius: 3px;
  background-image:
    repeating-linear-gradient(
      -45deg,
      #3299BB,
      #3299BB 11px,
      #eee 10px,
      #eee 14px /* determines size */
    );
  background-size: 17px 17px;
  animation: move .5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 17px 0;
  }
}

  /*---- LOAD BAR END ----*/

/*---- FOOTER END ----*/
