* {
    padding: 0;
    margin: 0;
}

body, html {
    position: relative;
    width: 100%;
    height: 100%;
}

.header {
    height: 50px;
    width: calc(100% - 10px);
    padding: 5px;
    background: chocolate;
    position: relative;
    z-index: 90;
}

.content {
    height: calc(100% - 60px);
    width: 100%;
    display: block;
    position: relative;
}

.left-bar {
    width: 40%;
    height: 100%;
    float: left;
}

.bound {
    position: absolute;
    width: calc(100% - 27px); /* 10px for padding and 17 for scrollbar */
    height: 50px;
    background: transparent;
    z-index: 3;
}

.upper-bound {
    top: 0;
    border-bottom: 1px solid #E9E9E9;
    padding: 0 5px;
}

.lower-bound {
    bottom: 0;
}

.right-bar {
    width: 60%;
    height: 100%;
    float: right;
    background: cadetblue;
    position: relative;
}

#storage-content {
    padding: 50px 0;
    width: 100%;
    height: calc(100% - 100px);
    background: rgb(255,255,255);
    overflow-y: scroll;
    position: relative;

}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mouse-selection {
    background: cadetblue;
    opacity: 0.4;
    border: 1px solid rebeccapurple;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    z-index: 10;
}

.select {
    -webkit-touch-callout: default; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.storage-hierarchy {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}


.tools {
    height: 100%;
    list-style: none;
    position: relative;
    display: block;
}

.tool-item {
    float: left;
    width: 50px;
    height: 100%;
    background: lightcoral;
    margin: 0 5px;
}

.file-holder {
    width: 140px;
    height: 140px;
    float: left;
    margin: 20px;
    text-align: center;
}

.file {
    width: 80px;
    height: 100px;
    background: darkcyan;
    margin: 15px 30px 0 30px;
}

.file-holder:hover {
    background: rgba(50,153,187, 0.15);
    /*width: 138px;
    height: 138px;*/
}

/*.file-holder:hover .file {
  margin: 14px 29px 0 29px;
}*/

.fixed-bound {
    animation: aama 1.0s forwards;
    -webkit-animation: aama 1.0s forwards; /* for less modern browsers */
}

.hidden-bound {
    animation: back 0.5s forwards;
    -webkit-animation: back 0.5s forwards; /* for less modern browsers */
}

@keyframes aamama {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes back {
    from { opacity: 1 }
    to { opacity: 0; }
}

.bound-tools {
    height: 40px;
    list-style: none;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -20px;
}

.bound-item {
    float: left;
    background: lightcoral;
    margin: 0 5px;
    padding: 5px 5px;
}

.bound-overlay {
    background: #E9E9E9;
}

.sort-item {
    text-align: center;
}

/* sort buttons */
.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    margin-bottom: 10px;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #8CF;
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: #28F;
}

.button.is-checked {
    color: white;
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.arrow {
    width: 12px;
    height: 12px;
    position: relative;
    display: inline-block;
    margin: 10px 10px;
}

.arrow-up {
    -webkit-animation: arrow-up 1s forwards;
    -o-animation: arrow-up 1s forwards;
    animation: arrow-up 1s forwards;
}

.arrow-down {
    -webkit-animation: arrow-down 1s forwards;
    -o-animation: arrow-down 1s forwards;
    animation: arrow-down 1s forwards;
}

.arrow:before, .arrow:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
}

.arrow:before {
    border: none;
    background-color: #555;
    height: 50%;
    width: 30%;
    top: 50%;
    left: 35%;
}
.arrow:after {
    left: 0;
    top: -50%;
    border-width: 6px 6px;
    border-bottom-color: #555;
}

/*---- ARROW KEYFRAMES ---- */


/* ---- ARROW UP KEYFRAME ---- */
@-webkit-keyframes arrow-up {
    from {
        -webkit-transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes arrow-up {
    from {
        -o-transform: rotate(180deg);
    }
    to {
        -o-transform: rotate(0deg);
    }
}

@-moz-keyframes arrow-up {
    from {
        -moz-transform: rotate(180deg);
    }
    to {
        -moz-transform: rotate(0deg);
    }
}

@keyframes arrow-up {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* ---- ARROW UP KEYFRAME END ---- */


/* ---- ARROW DOWN KEYFRAME ---- */

@-webkit-keyframes arrow-down {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}

@-o-keyframes arrow-down {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(180deg);
    }
}

@-moz-keyframes arrow-down {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(180deg);
    }
}

@keyframes arrow-down {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

/* ---- ARROW DOWN KEYFRAME END ---- */

/*---- ARROW KEYFRAMES END ---- */


.button-group button {

    position: absolute;
    height: 40px;
    top: 50%;

    margin-top: -20px;
    background: transparent;
    border: none;
    color: #424242;

}

.button-group button:hover {
    cursor: pointer;
    background: #E9E9E9;
    box-shadow: 1px 1px 2px #424242;
}

.button-group button:active {
    background: #3299BB;
    box-shadow: 1px 2px 2px #BCBCBC;
}

#sort-by-btn {
    width: 100px;
    left: 20px;
}

#order-btn {
    width: 40px;
    left: 120px;
    border: none;
}

#sort-by-menu {
    position: absolute;
    top: 100%;
    min-width: 140px;
    list-style: none;
    left: 20px;
    -webkit-box-shadow: 1px 1px 2px #424242;
    -moz-box-shadow: 1px 1px 2px #424242;
    box-shadow: 1px 1px 2px #424242;
    padding: 10px 0;
    background: #E9E9E9;
    border-radius: 1px;
    z-index: 999;
}

#sort-by-menu li {
    padding: 1px 20px;
}

#sort-by-menu li:hover {
    background: #BCBCBC;
    cursor: pointer;
}

#sort-by-menu li:active {
    background: #3299BB;
}